header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
}

nav {
  border-bottom: 0.1rem solid #36454f;
  top: 0;
  padding: 1rem 0rem;
  width: 55rem;
  margin: 0rem auto 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LogoDiv a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
  color: black;
}

.LoginRegisterOnly {
  display: flex;
  column-gap: 0.5rem;
}

.LoginRegisterOnly li {
  list-style: none;
}

.LoginRegisterOnly li a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: bolder;
  padding: 0.4rem 1rem;
}

#SignUpBtn {
  background: #36454f;
  color: white;
  border-radius: 0.2rem;
}

.LogOutDiv button {
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  font-weight: bolder;
  background: transparent;
}

@media screen and (max-width: 920px) {
  nav {
    width: 98%;
  }
}

@media screen and (max-width: 452px) {
  .LogoDiv a {
    font-size: 1.7rem;
  }
  .LoginRegisterOnly {
    column-gap: 0.2rem;
  }
  .LoginRegisterOnly li a {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 340px) {
  .LoginRegisterOnly {
    column-gap: 0rem;
  }
  .LoginRegisterOnly li a {
    font-size: 1rem;
    padding: 0.4rem 0.7rem;
  }
}

@media screen and (max-width: 284px) {
  .LogoDiv a {
    font-size: 1.4rem;
  }
  .LoginRegisterOnly li a {
    padding: 0.3rem 0.4rem;
  }
}

@media screen and (max-width: 250px) {
    .LogoDiv a {
        font-size: 1rem;
      }
  .LoginRegisterOnly li a {
    font-size: 0.9rem;
  }
}
