@font-face {
  font-family: logoI;
  src: url(../src/assets/Fonts/chamberi-super-display-light-italic.otf);
}

@font-face {
  font-family: Helvetica;
  src: url(../src/assets/Fonts/Helvetica.ttf);
}

@font-face {
  font-family: kievit;
  src: url(../src/assets/Fonts/KievitSerif-Medium.ttf);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.TittleFonts{
  font-family: Helvetica;
  font-weight:bold;
}

.MoreTextFont{
  font-family: kievit;
  font-size:1.2rem;
}

.logo{
  font-family: logoI;
}


/* START OF APP.JSX */

.FooterAppDiv{
  margin-top:2rem;
}


@media screen and (max-width:784px){
  .FooterAppDiv{
    margin-top:1.5rem;
  }
}